@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Condiment);

/* colors */
@primary: #75b72a;
@background: #F9F9FA;
@white: #F9F9FA;
@border: #BCBDC0;
@shadow: #555;
@text-shadow: #BCBDC0;
@grey: #555;
@dark-grey: #222;
@font: #333;

/* tags */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: @background;
    color: @font;
}

a {
    color: @primary;
    .transition(0.5s, color);

    &:hover {
        text-decoration: none;
        color: @grey;
    }
}

h1 {
    font-weight: normal;
}



/* box */
@wrapper_width: 1000px;
@wrapper_padding: 20px;

.box {
    background-color: @white;
    padding: @wrapper_padding 0;

    &.clean-box {
        border: 0;
        background-color: @background;
    }

    &.grey-box {
        color: #fff;
        background: @dark-grey;
    }

    &.green-box {
        color: #fff;
        background: @primary;
        min-height: 50px;
        font-size: 20px;
        padding: 50px 0;
    }

    &.last-box {
        border-bottom: 0;
    }

    &.break-box {
        margin-top: 75px;
    }

}

/* header */

header {
    margin: 25px 0 0 0;
    text-align: center;

    .logo {
        font-family: 'Condiment', cursive;
        color: @primary;
        font-size: 72px;
        min-height: 100px;
        line-height: 100px;
    }

    .nav {
        width: 100%;
        margin: 20px auto 25px auto;

        li {
            display: inline-block;
            margin: 0 1%;

            a {

                .border-radius(5px);
                padding: 7px 15px;
                background: @primary;
                font-size: 16px;
                color: @white;
                .transition(0.5s, background);

                &:hover {
                    background: @dark-grey;
                }
            }

            &.active a {
                background: @dark-grey;
            }
        }
    }

}

/* footer */

footer {
    margin-top: 50px;
    color: @white;
    padding: @wrapper_padding 0;
    background-color: @dark-grey;
    line-height: 24px;

    .copyright {
        margin-top: 20px;
        text-align: center;
        color: @grey;
        display: none;
    }

    .slogan {
        text-align: center;
        color: @grey;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 50px;
        .transition(0.5s, color);

        &:hover {
            color: @primary;
        }
    }
}



/* main box */

#hero {
    padding: 75px 0;
    text-align: center;

    #row1 {
        font-size: 50px;
        line-height: 75px;
    }

    #row2 {
        font-size: 75px;
        line-height: 100px;
    }
}


/* info box */

#info {

    .column {
        margin: 50px 0;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        .transition(1s, text-shadow);

        &:hover {
            .text-shadow(5px, @primary);
        }

        .icon {
            font-size: 125px;
            line-height: 175px;
            display: block;
            width: 100%;
        }
    }

}

#skills {

    ul.tags {
        margin: 50px 0;
        text-align: center;

        li {
            margin: 0 20px;
            line-height: 50px;
            font-size: 20px;
        }

    }

}

#map {
    height: 350px;
    width: 100%;

}

#ich {

    font-size: 20px;
    line-height: 30px;
    padding: 75px 0;

}

#lebenslauf {
    padding: 10px 0 50px 0;
}


#impressum {

    padding: 50px 0;


    p {
        color: @grey;
    }
}

.projekt {
    padding: 50px 0;

    p {
        padding: 10px 0;
        font-size: 20px;
        line-height: 30px;
    }

    ul.tags {
        color: @grey;
        margin-bottom: 30px;
    }
}

/* Preisliste */

.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th {
    background-color: #eee;
}

table.preisliste {

    td {
        .transition(0.2s);
    }

    th:nth-child(2),
    th:nth-child(3),
    th:nth-child(4),
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
        text-align: right;
    }

    tr:hover td {
        color: @white;
        background: @primary;
    }

}

/* tags */

ul.tags {
    margin: 10px 0;
    padding: 0;
    list-style: none;

    li {
        display: inline;
        margin: 0 10px 0 0;
        line-height: 20px;
        font-size: 14px;
    }

}

/* images */

img.grey {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1);

    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }
}

/* other */

.header {
    text-align: center;
}

.pale {
    color: @shadow;
}

.bigger {
    font-size: 20px;
    line-height: 30px;
}




/* functions */

.text-shadow(@radius, @color: @text-shadow) {
    text-shadow: 0px 0px @radius @color;
    filter: dropshadow(color=@color, offx=0, offy=0);
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition(@duration, @property: all) {
    -webkit-transition: @property @duration;
    -moz-transition: @property @duration;
    -ms-transition: @property @duration;
    -o-transition: @property @duration;
    transition: @property @duration;
}
