{% extends 'layout.twig' %}

{% block content %}
    <div id="hero" class="box grey-box">
        <div class="container">
            <div class="row">
                <div id="row1" class="col-12 col-sm-8 col-sm-offset-1">Ihre persönliche</div>
            </div>
            <div class="row">
                <div id="row2" class="col-12 col-sm-9 col-sm-offset-2">Haarspezialistin</div>
            </div>
        </div>
    </div>
    <div id="ich" class="box">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-sm-offset-1">
                    <img class="img-responsive" src="{{ app.request.basePath }}/img/profil4.jpg">
                </div>
                <div class="col-12 col-sm-4 col-sm-offset-2" style="padding-top:55px;">
                    <b>Angelika Badura</b><br>
                    Friseurmeisterin<br/><br/>


                    Angelikas Haarstudio<br>
                    An der Kultzkuhle 3<br/>
                    41542 Dormagen<br><br>

                    02133 / 29 96 79<br/>
                    <a href="mailto:angelikabadura@msn.com" target="_blank">angelikabadura@msn.com</a><br/>

                </div>
            </div>
        </div>
    </div>

    <div class="box green-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>
                        Liebe Kundinnen und Kunden,
                    </p>

                    <p>
                        die Berufsgenossenschaft für Gesundheitsdienst und Wohlfahrtspflege hat uns Friseuren aufgrund
                        der Corona-Pandemie verschärfte Hygienevorschriften auferlegt.

                    </p>
                    <p>

                        Diese Auflagen möchte ich Ihnen mitteilen:
                    </p>

                    <p>
                        Grundsätzlich ist ein Friseurbesuch nur mit einem Termin möglich. Dazu zählt auch die
                        Terminvergabe, die nur noch telefonisch stattfinden darf. Bitte sehen Sie davon ab, ohne einen
                        Termin vorbeizukommen.
                        Der Schutzstandard verbietet zudem Wartebereiche in den Salons. Im Zweifel müssten Kunden also
                        vor dem Haarstudio warten, falls ich zu dem Zeitpunkt noch einen Kunden im Studio habe. Aus
                        diesem Grund werde ich darauf achten, dass die Termine genug Abstand zueinander haben, so dass
                        niemand draußen warten muss.
                    </p>

                    <p>
                        Da sich der Mindestabstand von 1,50 Meter beim Schneiden nicht einhalten lässt, müssen Kunden
                        als auch Friseure einen Mund-Nasen-Schutz tragen. Ohne einen Mundschutz darf ich Sie nicht
                        bedienen. Zusätzlich müssen Sie nach dem Betreten meiner Räumlichkeiten ihre Hände
                        desinfizieren.
                    </p>

                    <p>
                        Wir Friseure sind vor jeder Dienstleistung dazu verpflichtet Ihre Haare zu waschen, um mögliche
                        Viren abzutöten. Dazu reicht es nicht, sich vor dem Friseurbesuch selbst die Haare zu waschen.
                        Außerdem ist das selbst Fönen im Haarsalon nicht erlaubt.
                    </p>

                    <p>
                        Gesichtsnahe Dienstleistungen wie Augenbrauen- und Wimpernfärben, Rasieren und Bartpflege dürfen
                        derzeit nicht ausgeführt werden. Auch kleine Annehmlichkeiten wie ein Getränk oder eine
                        Zeitschrift darf ich Ihnen leider nicht anbieten. Damit Sie einen Überblick bekommen, habe ich
                        meine Preisliste dementsprechend angepasst.
                    </p>

                    <p>
                        Des Weiteren bin ich dazu verpflichtet alle Kundenbesuche zu dokumentieren, um eine mögliche
                        Infektionskette nachvollziehen zu können. Dazu müssen Sie Ihre Kontaktdaten wie Name, Adresse
                        und Handynummer bei mir hinterlegen. Ohne diese Daten darf ich Sie leider nicht bedienen.
                    </p>

                    <p>
                        Ich hoffe auf Ihr Verständnis.
                    </p>

                    <p>
                        Ihre Friseurmeisterin<br/>
                        Angelika Badura
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div id="skills" class="box clean-box">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <ul class="tags">
                        <li>Style</li>
                        <li>Frisur</li>
                        <li>Legen</li>
                        <li>Strähnen</li>
                        <li>Dauerwelle</li>
                        <li>Locken</li>
                        <li>Frisieren</li>
                        <li>Fönen</li>
                        <li>Färben</li>
                        <li>Hochsteckfrisur</li>
                        <li>Hochzeit</li>
                        <li>Baal</li>
                        <li>Beratung</li>
                        <li>Haubensträhnen</li>
                        <li>Waschen</li>
                        <li>Schneiden</li>
                        <li>Kinder</li>
                        <li>Quic Shine</li>
                        <li>Haubensträhnen</li>
                        <li>Haarpflege</li>
                        <li>Tönen</li>
                        <li>Kopfmassage</li>
                        <li>Maniküre</li>
                        <li>Make-Up</li>
                        <li>Zupfen</li>
                        <li>Foliensträhnen</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
