{% extends 'layout.twig' %}

{% set nav = 'impressum' %}

{% block content %}

<div id="map"></div>

<div id="impressum" class="box first-box">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 bigger">

                <b>Angelika's Haarstudio</b><br>
                Angelika Badura<br><br>

                An der Kultzkuhle 3<br>
                41542 Dormagen<br><br>

                02133 / 29 96 79<br>
                <a href="mailto:angelikabadura@msn.com" target="_blank">angelikabadura@msn.com</a><br>

            </div>
            <div class="col-12 col-sm-8">

                <b>Haftungsausschluss</b><br>

                <p>
                Gemäß § 5 Abs.1 TDG sind wir ausschließlich nur für die eigenen Inhalte verantwortlich. Für Links auf fremde Inhalte dritter Anbieter sind wir gemäß § 5 Abs.2 TDG nur verantwortlich, wenn wir von einem rechtswidrigen oder strafbaren Gehalt positive Kenntnis haben und es technisch möglich und zumutbar ist, deren Nutzung zu verhindern. Auch sind wir nicht verpflichtet, in periodischen Abständen den Inhalt von Angeboten Dritter auf deren Rechtswidrigkeit oder Strafbarkeit zu überprüfen. Sobald wir von dem rechtswidrigen Inhalt der Web-Seiten Dritter erfahren, wird der entsprechende Link von unserer Seite entfernt. Weiterhin möchten wir ausdrücklich betonen, dass wir keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten haben. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller gelinkten Seiten auf der gesamten Website inkl. aller Unterseiten. Diese Erklärung gilt für alle auf der Homepage ausgebrachten Links und für alle Inhalte der Seiten, zu denen Links oder Banner führen. Sollten Inhalte dieser Internetangebote gegen geltendes Urheberrecht oder das Markengesetz verstoßen, werden diese auf Hinweis schnellstmöglich entfernt.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <b>Betriebsleiter</b><br/>
                Angelika Badura<br/>
                Friseurmeisterin<br/>
                (Bundesrepublik Deutschland)
            </div>
            <div class="col-12 col-sm-4">
                <b>Zuständige Handwerkskammer</b><br>
                Handwerkskammer Düsseldorf<br>
                Gerog-Schulhoff-Platz 1<br>
                40221 Düsseldorf
            </div>
            <div class="col-12 col-sm-4">
                <b>Technik und Grafik</b><br>
                David Badura<br>
                <a href="http://david-badura.de" target="_blank">david-badura.de</a><br>
                <a href="mailto:d.a.badura@gmail.com" target="_blank">d.a.badura@gmail.com</a><br>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Aufgrund des Kleinunternehmerstatus gem. §19 UstG erhebe ich keine Umsatzsteuer und weise diese auch nicht aus. Daher ist auch keine Ust-ID angegeben.
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    var map;
    function initialize() {
        var pos = new google.maps.LatLng(51.120991,6.776697);

        var mapOptions = {
            zoom: 15,
            center: pos,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        map = new google.maps.Map(document.getElementById('map'),
        mapOptions);

        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Angelika´s Haarstudio'
        }); 
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
