<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Angelika's Haarstudio - Dormagen / Nievenheim</title>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="David Badura">
        <meta name="description" content="Angelika's Haarstudio - Angelika Badura - Friseur - Dormagen / Nievenheim">
        <meta name="keywords" content="Haarstudio, Friseur, Dormagen, Nievenheim, Angelika, Schneiden, Haare">



        <link href="{{ app.request.basePath }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/font-awesome.min.css">
        <link href="{{ app.request.basePath }}/less/style.less" rel="stylesheet/less" type="text/css" media="screen">
        <link rel="icon" href="{{ app.request.basePath }}/favicon.ico" type="image/x-icon">


        <script src="{{ app.request.basePath }}/js/less-1.3.3.min.js"></script>

    </head>
    <body>
        <header>

        <div class="logo">Angelika's Haarstudio</div>

        <ul class="nav">
            {% set nav = nav|default('home') %}
            <li {% if nav == 'home' %}class="active"{% endif %}>
            <a href="{{ url('home') }}">Home</a>
            </li>
            <li {% if nav == 'preise' %}class="active"{% endif %}>
            <a href="{{ url('preise') }}">Preise</a>
            </li>
            <li {% if nav == 'produkte' %}class="active"{% endif %}>
            <a href="{{ url('produkte') }}">Produkte</a>
            </li>
            <li {% if nav == 'impressum' %}class="active"{% endif %}>
                <a href="{{ app.request.basePath }}/betriebsanweisung.pdf" target="_blank">Betriebsanweisung</a>
            </li>
            <li {% if nav == 'impressum' %}class="active"{% endif %}>
            <a href="{{ url('impressum') }}">Kontakt</a>
            </li>
        </ul>
        </header>

        {% block content %}{% endblock %}

        <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 slogan">
                    Ihr Haarstudio in Nievenheim
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    Angelika's Haarstudio<br>
                    An der Kultzkuhle 3<br/>
                    41542 Dormagen
                </div>

                <div class="col-12 col-sm-4">
                    Tel.: 02133 / 29 96 79<br>
                    Handy: 0179 / 79 14 240<br>
                    <a href="mailto:angelikabadura@msn.com" target="_blank">angelikabadura@msn.com</a>
                </div>

                <div class="col-12 col-sm-4">
                    <a href="http://www.moroccanoil.de/" target="_blank">Moroccanoil</a><br>
                    <a href="http://www.selectiveprofessional.com/" target="_blank">Selective Professional</a><br>
                    <a href="http://www.lavoly.com/" target="_blank">Lavoly</a>
                </div>

            </div>
        </div>

        <div class="copyright">
            &copy; copyright 2013 - angelikas-haarstudio.info
        </div>

        </footer>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="{{ app.request.basePath }}/js/bootstrap.min.js"></script>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15080446-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

        </script>
    </body>
</html>
