{% extends 'layout.twig' %}

{% set nav = 'preise' %}

{% block content %}

<div id="lebenslauf" class="box clean-box last-box">
    <div class="container">
        <div class="col-12">

            <h4 class="text-center">Alle Dienstleistungen sind nur mit Haarwäsche möglich!</h4>

            <table class="table table-striped preisliste">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width:100px;">kurz</th>
                        <th style="width:100px;">mittel</th>
                        <th style="width:100px;">lang</th>
                    </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Herren Waschen, Schneiden, Frisieren</td>
                    <td>20,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Quic Shine (gefärbte Haarspitzen)</td>
                    <td>20,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tönung, Blondierung</td>
                    <td>26,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kinder (bis 12 J.) Haarschnitt mit Waschen</td>
                    <td>18,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cut & Go Teenie Haarschnitt mit Waschen</td>
                    <td>20,00 €</td>
                    <td>22,00 €</td>
                    <td>24,00 €</td>
                </tr>
                <tr>
                    <td>Damen Cut & Go mit Waschen</td>
                    <td>25,00 €</td>
                    <td>28,00 €</td>
                    <td>30,00 €</td>
                </tr>
                <tr>
                    <td>Damen Waschen, Schneiden, Frisieren</td>
                    <td>35,00 €</td>
                    <td>38,00 €</td>
                    <td>40,00 €</td>
                </tr>
                <tr>
                    <td>Damen Waschen, Frisieren</td>
                    <td>25,00 €</td>
                    <td>28,00 €</td>
                    <td>30,00 €</td>
                </tr>
                <tr>
                    <td>Steckfrisur mit Waschen</td>
                    <td>ab 30,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Dauerwelle</td>
                    <td>38,00 €</td>
                    <td>40,00 €</td>
                    <td>42,00 €</td>
                </tr>
                <tr>
                    <td>Dauerwelle inkl. W. S. F. + Haarpflege</td>
                    <td>70,00 €</td>
                    <td>75,00 €</td>
                    <td>80,00 €</td>
                </tr>
                <tr>
                    <td>Dauerwelle spezial inkl. W. S. F. + Haarpflege</td>
                    <td>85,00 €</td>
                    <td>90,00 €</td>
                    <td>100,00 €</td>
                </tr>
                <tr>
                    <td>Volumenwelle</td>
                    <td>35,00 €</td>
                    <td>40,00 €</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Haubensträhnen</td>
                    <td>35,00 €</td>
                    <td>40,00 €</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Haubensträhnen inkl. + Haarpflege</td>
                    <td>70,00 €</td>
                    <td>75,00 €</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Foliensträhnen</td>
                    <td>45,00 €</td>
                    <td>50,00 €</td>
                    <td>55,00 €</td>
                </tr>
                <tr>
                    <td>Farbreflexe, Kammsträhnen, Brettsträhnen</td>
                    <td>20,00 €</td>
                    <td>25,00 €</td>
                    <td>30,00 €</td>
                </tr>
                <tr>
                    <td>Highlights</td>
                    <td>ab 20,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Färben</td>
                    <td>35,00 €</td>
                    <td>40,00 €</td>
                    <td>45,00 €</td>
                </tr>
                <tr>
                    <td>Neufärbung</td>
                    <td>40,00 €</td>
                    <td>45,00 €</td>
                    <td>50,00 €</td>
                </tr>
                <tr>
                    <td>Färben inkl. W. S. F. + Haarpflege</td>
                    <td>70,00 €</td>
                    <td>75,00 €</td>
                    <td>80,00 €</td>
                </tr>
                <tr>
                    <td>Tönen</td>
                    <td>30,00 €</td>
                    <td>35,00 €</td>
                    <td>40,00 €</td>
                </tr>
                <tr>
                    <td>Haarpflege</td>
                    <td>8,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kopfmassage</td>
                    <td>5,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Brautfrisur inkl. 1 Testfrisur</td>
                    <td>ab 100,00 €</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>

            <p>
            Alle angegebenen Preise sind Endpreise. Aufgrund des Kleinunternemerstatus gem. §19 UstG erhebe ich keine Umsatzsteuer und weise diese daher auch nicht aus.
            </p>

        </div>
    </div>
</div>


{% endblock %}
