{% extends 'layout.twig' %}

{% set nav = 'produkte' %}

{% block content %}

<div class="box">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-sm-4 col-sm-push-8" style="text-align:center;">
                <img class="img-responsive" src="{{ app.request.basePath }}/img/moroccanoil.jpg"> 
            </div>
 
            <div class="col-12 col-sm-8 col-sm-pull-4">
                
                <table class="table table-striped preisliste">
                    <tbody>
                        <tr>
                            <td>Moroccanoil®, 25ml</td>
                            <td style="width:70px;">13,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, 100ml</td>
                            <td>34,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Light, 100 ml</td>
                            <td>34,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Intense Curl Cream, 300ml</td>
                            <td>23,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Hydrating Styling Cream, 300 ml</td>
                            <td>23,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Hydrating Styling Mask, 250 ml</td>
                            <td>25,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Restorative Hair Mask, 250 ml</td>
                            <td>30,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Glimmer Shine Spray, 100 ml</td>
                            <td>20,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Moisture Repair Shampoo, 250 ml</td>
                            <td>18,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Moisture Repair Conditioner, 250 ml</td>
                            <td>18,00 €</td>
                        </tr>
                        <tr>
                            <td>Moroccanoil®, Curl Control Cream, 250 ml</td>
                            <td>25,00 €</td> 
                        </tr>
                    </tbody>
                </table>

                <p>
                Alle angegebenen Preise sind Endpreise. Aufgrund des Kleinunternemerstatus gem. §19 UstG erhebe ich keine Umsatzsteuer und weise diese daher auch nicht aus.
                </p>

            </div>
       </div>
    </div>
</div>
{% endblock %}
